extends layout 

block content

  h1= title 
  div
    h2 How many data do we have?
    p Check how cars, brands and categories all around the globe with just one click.
  ul
    li Brands: #{all_brands}
    li Categories: #{all_categories}
    li Cars: #{all_cars}