doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="page")
      div(class="side-bar")
        a(href='/catalog/categories') Categories
        a(href='/catalog/brands') Brands 
        a(href="/catalog/cars") Cars
        a(href="/catalog/category/create") Create category
        a(href='/catalog/brand/create') Create brand
        a(href='/catalog/car/create') Create Car
      div(class='main-content')
        block content
