body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
}

.page {
  display: grid;
  grid-template-columns: 15% auto;
  height: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #000d29;
}
.side-bar a {
  color: white;
  padding: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.main-content {
  padding: 15px;
}

.flex-col-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
